@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* PC表示（横幅：1025px以上）の時 */
 @media screen and (min-width: 768px) {
 
.box {
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #C8DCEF calc(100% - 1px)),
                    linear-gradient(90deg, transparent calc(100% - 1px), #C8DCEF calc(100% - 1px));
  background-size: 16px 16px;
  background-repeat: repeat;
  background-position: center center;
  padding: 20px;
}

body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-optical-sizing: auto;
    font-weight: 320;
    color: #1649A7;
    font-style: normal;
    font-size: 15px;
    line-height: 1.75;
    background-color: rgba(239, 241, 241, 1);

}

.gazo .img {
    width: 80vh;
    height: auto;
}

h1 {
    font-size: 20px;
    font-weight: 700;
}

.tool section {
    margin-top: 0px;
}

.tool h3 {
    display: inline-block;
    font-weight: 550;
    font-size: 25px;
    margin-bottom: -20px;
}

.tool h5 {
    font-size: 12px;
    font-weight: 250;
    margin-top: -30px;
}
  
.tool ul {
    list-style: disc;
    padding-left: 3em;
    margin-top: -10px 10px;
}

.title h1 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -50px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.title h5 {
    font-size: 30px;
    font-weight: 250;
}

.process h3 {
    margin-top: 30px;
    font-weight: 550;
    font-size: 25px;
}

.process ol {
    counter-reset: li;
    list-style: none;
}

ol > li::before {
    margin-left: 1.8em;
    margin-right: 0.25em;
    content: counter(li) ".";
    counter-increment: li;
    font-weight: bold;
}
.bold {
    font-weight: bold;
}

 }











 /* スマートフォン表示（横幅：767px以下）の時 */
 @media screen and (max-width: 767px) {
    .box {
  
}

body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: #1649A7;
    font-style: normal;
    font-size: 15px;
    line-height: 1.75;
    background-color: rgb(255, 255, 255);

}

.title {
    margin-bottom: 43px;
    margin-top: -5px;
}
.title span {
    color: #E60012;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;

}
.kaisou {

    background-color: #F7F7F7;
    padding: 1em;
    color: #222426;
}

.gazo {
  position: relative;
  }

.gazo h1 {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  text-align: center;
 white-space: nowrap;
 line-height: 1;
  /*文字の装飾は省略*/
  font-weight: 530;
  font-size: 25px;
  }

.gazo span {
    font-size: 16px;
}


.gazo img {
  width: 100%;
  }


  h1 {
    font-size: 20px;
    font-weight: 700;
}

a.btn_03 {
	display: block;
	text-align: center;
	text-decoration: none;
    white-space: nowrap;
	width: 140px;
	margin-left: auto;
    margin-right: 20px;
	padding: 0.8em;
	font-weight: bold;
	border: 1px solid #0068B7;
	color: #0068B7;
	border-radius: 100vh;
	transition: 0.5s;
    font-weight: 500;
    font-size: 14px;
    padding-right: 20px;
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22feather%20feather-external-link%22%3E%3Cpath%20d%3D%22M18%2013v6a2%202%200%200%201-2%202H5a2%202%200%200%201-2-2V8a2%202%200%200%201%202-2h6%22%3E%3C%2Fpath%3E%3Cpolyline%20points%3D%2215%203%2021%203%2021%209%22%3E%3C%2Fpolyline%3E%3Cline%20x1%3D%2210%22%20y1%3D%2214%22%20x2%3D%2221%22%20y2%3D%223%22%3E%3C%2Fline%3E%3C%2Fsvg%3E');
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: 100px;
    
}
a.btn_03:hover {
	color: #fff;
	background: #0068B7;
}

.explain h4 {
    font-size: 20px;
    color: #222426;
    margin-left: 1em;
    margin-top: 1em;
}
.explain h6 {
    font-size: 14px;
    color: #222426;
    margin-left: 1.2em;
    margin-right: 1em;
    margin-top: -1em;
    line-height: 2;
}

.tool section {
    margin-top: 0px;
}

.bg img {
    padding-left: 2em;
    padding-top: 0.3em;
    width: 80px;

}

.bg h3 {
    font-weight: 430;
    font-size: 23px;
    color: #222426;
    line-height: 0.8;
    padding-left: 30%;
}
.bg span {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}
.tool ul {
    list-style: disc;
    padding-left: 3em;
    margin-top: -10px 10px;
}

.title h1 {
    font-size: 25px;
    font-weight: 405;
    margin-bottom: -43px;
    margin-top: 5px;
    font-family: "Ubuntu", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.title h5 {
    font-size: 30px;
    font-weight: 250;
}
.kaisou h6 {
    color: #828487;
    font-weight: 500;
    font-size: 11px;
}

.home {
  text-decoration: none;
  color: #222426;
  font-weight: 500;
}


.process h3 {
    margin-top: 30px;
    font-weight: 550;
    font-size: 25px;
}

.process ol {
    counter-reset: li;
    list-style: none;
}

ol > li::before {
    margin-left: 1.8em;
    margin-right: 0.25em;
    content: counter(li) ".";
    counter-increment: li;
    font-weight: bold;
}
.bold {
    font-weight: bold;
}
